includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    typeAliases:
        PlayerPayload: 'array{name:string,gender:string,strengh:int,hability:int,speed:int}'
        SimulationPayload: 'array{name:string,gender:string,players:PlayerPayload[]}'
    paths:
        - app/

    # Level 10 is the highest level
    level: 10

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
